/*  Div containing the "Live" button */
.live {
	background-image: url(../img/menu_off.png);
}

/*  Div containing the "Recorded" button */
.recorded {
	background-image: url(../img/menu_off.png);
}

/* Clickable zone, link to the "Live" page */
.liveZone {
	color: #FFFFFF;
}

/* Clickable zone, link to the "Recorded" page */
.recordedZone {
	color: #FFFFFF;
}

/* Zone to display a temporary message */
.message {
	height: 36px;
	margin: 8px;
	text-align: center;
	overflow: hidden;
	color: #ff0000;
}

/* Line containing the links images div */
.links {
	width: 940px;
	height: 139px;
}

/* Div containing the images div */
.liveImage, .recordedImage, .rssImage {
	float: left;
	width:237px;
	height:139px;
	margin-left: 67px;
}

.liveImage {
	background-image: url(../img/live.png);
}

.recordedImage {
	background-image: url(../img/recorded.png);
}

.rssImage {
	background-image: url(../img/rss.png);
}

/* Div containing the text of the link image */
.linkText {
	position: absolute;
	font-size: 20px;
	margin-left: 10px;
	margin-top: 18px;
}

/* Div containing the description of the link image */
.linkDescription {
	position: absolute;
	font-size: 10px;
	margin-left: 10px;
	margin-top: 39px;
}

/* Div which prints the courses list with the pagination links */
.course {
	margin-top: 0;
}