/*  Div containing the "Live" button */
.live {
	background-image: url(../img/images/menu_on.gif);
}

/*  Div containing the "Recorded" button */
.recorded {
	background-image: url(../img/images/menu_off.gif);
}

/* Div containing a line of 3 "building" div with equal height */
.lines {
	width: 850px;
	margin-left: 45px;
	margin-right: 45px;
}