/* Page body */
body {
	text-align: center; /* Enables to center "main" with IE6 */
}

/* Main div */
.main {
	height: 100%; /* IE understands "height" like "min-height" */
	text-align: left; /* Enables to center "main" with IE6 */
}