/*  Div containing the "Live" button */
.live {
	background-image: url(../img/menu_off.png);
}

/*  Div containing the "Recorded" button */
.recorded {
	background-image: url(../img/menu_off.png);
}

/* Clickable zone, link to the "Live" page */
.liveZone, .recordedZone {
	color: #FFFFFF;
}

.links {
	text-align: center;
	margin-bottom: 20px;
}

.displaytag {
	width: 100%;
	text-align: center;
	border-spacing: 1px;
	color: #000000;
	font-size: 10px;
}

table {
	color: #000000;
}

th, td {
	padding-top: 4px;
	padding-bottom: 4px;
}

td {
	border-width: 0px;
}

table tr td {
	padding: 5px;
}

th a {
	color: #FFFFFF;
}

/* Classes to alternate the color of the rows of the courses table */
.odd {
	background-color: #FFD557;
}

.even {
	background-color: #E3DABA;
}

.editform {
	width: 425px;
	margin-left: auto;
	margin-right: auto;
}

/* A field of the html form */
.field {
	width: 300px;
}