/* Clickable zone, link to the ULPMM website */
.udsZone {
        position: absolute;
        width : 126px;
        height: 58px;
        margin-left:45px; /*155*/
        margin-top: 105px;/*146*/
        background-image: url(../img/uds-logo.png);
}

