			body {
	    		color:white;
	    		background-image:url(../_mm/Fond.jpg);
	    	}
	    	
	    	.retour {color:yellow}
	    	
	    	div#diapo_courante {
	    		text-align: center;
	    		position: absolute;
	    		width: 66%;
	    		height: 98%;
	    		left: 0%;
	    	}
	    	
	    	div#diaThumb {
	    		position:absolute;
	    		width: 16%;
	    		height: 98%;
	    		left: 66%;
	    		overflow: auto;
	    	}
	    	
	    	div#cours {
		      	position:absolute;
		      	width: 15%;
		      	height: 98%;
		      	right: 1%;
		      	overflow: auto;
	    	}   