/*  Div contenant le bouton Direct */
.direct {
	background-image: url(../img/images/menu_on.gif);
}

/*  Div contenant le bouton Différé */
.differe {
	background-image: url(../img/images/menu_off.gif);
}

.ligne {
	width: 850px;
	margin-left: 45px;
	margin-right: 45px;
}