/*  Div containing the "Live" button */
.live {
	background-image: url(../img/images/menu_off.png);
}

/*  Div containing the "Recorded" button */
.recorded {
	background-image: url(../img/images/menu_on.png);
}

/* Clickable zone, link to the "Live" page */
.liveZone {
	color: #FFFFFF;
}

/* Clickable zone, link to the "Recorded" page */
.recordedZone {
	color: #FF9602;
}

/* Div of the search part of the page */
.search {
	width: 728px;
	margin-left: 116px;
	margin-right: 76px;
	margin-top: 20px;
	background-color: #747474;
	overflow: hidden;
	font-size: 12px;
}

/* Div containing the search image */
.searchImage {
	position: absolute;
	width: 237px;
	height: 139px;
	margin-left: -20px;
	margin-top: -20px;
	background-image: url(../img/images/search.png);
}

/* Div containing the "search" text */
.searchText {
	position: absolute;
	font-size: 20px;
	left: 10px;
	top: 18px;
	color: #FF9602;
}

/* Div containing the "advanced" text */
.advancedText {
	position: absolute;
	font-size: 10px;
	left: 88px;
	top: 39px;
}

/* Float div containing search criteria */
.criteria {
	float: right;
	padding: 15px;
	text-align: right;
}

/* A field of the html form */
.field {
	width: 130px;
	margin: 3px;
}


fieldset {
	width: 200px;
	text-align: left;
	border: 1px solid #DDDDDD;
}

/* Formatting of the submit button of the html form */
.submit {
	background: none;
	border:0;
	color: white;
	font-size: 14px;
	font-family: helvetica, arial;
}

/* vertical line in the "search" div */
hr {
	position: absolute;
	background-color: #DDDDDD;
	border: 0;
	left: 350px;
	margin-top: 10px;
	height: 105px;
	width: 1px;
}

/* Div which prints the courses list with the pagination links */
.course {
	margin-top: 20px;
}

/* Courses list table */
table {
	width: 100%;
	text-align: left;
	border-spacing: 0px;
	color: #000000;
}

th, td {
	padding-top: 4px;
	padding-bottom: 4px;
}

th {
	padding-left: 25px;
	background-color: #FF9602;
	font-size: 12px;
}

th#courses {
	color: #FFFFFF;
	font-size: 14px;
}

td {
	padding-left: 15px;
	font-size: 11px;
	border-width: 0px;
}

/* Classes to alternate the color of the rows of the courses table */
.row1 {
	background-color: #FFD557;
}

.row2 {
	background-color: #E3DABA;
}

/* Aligned cells in the table */
.tdalign {
	text-align: center;
	width: 55px;
}

/* Div with its content hidden */
.hidden {
	display: none;
}

/* Div containing the pagination links */
.pagination {
	color: #FFFFFF;
	font-size: 12px;
	text-align: right;
	margin: 5px;
}

.pagination a {
	color: #FFFFFF;
	font-size: 12px;
}