/*  Div contenant le bouton Direct */
.live {
	background-image: url(../img/images/menu_off.gif);
}

/*  Div contenant le bouton Différé */
.recorded {
	background-image: url(../img/images/menu_on.gif);
}

/* Div of the search part of the page */
.search {
	overflow: visible;
	margin-top: 40px;
}

/* Div containing the search image */
.searchImage {
	background-image: url(../img/images/search.gif);
}