/*  Div containing the "Live" button */
.live {
	background-image: url(../img/menu_off.gif);
}

/*  Div containing the "Recorded" button */
.recorded {
	background-image: url(../img/menu_off.gif);
}

/* Div containing the "help" image */
.helpImage {
	background-image: url(../img/help.gif);
}

li {
	list-style-image: url(../img/chip.gif);
}