/*  Div containing the "Live" button */
.live {
	background-image: url(../img/menu_off.gif);
}

/*  Div containing the "Recorded" button */
.recorded {
	background-image: url(../img/menu_off.gif);
}

/* Div containing the images div */
.downloadImage, .rssImage, .helpImage {
	margin-left: 45px;
}

/* Div containing the images div */
.searchImage {
	background-image: url(../img/search.gif);
}

.liveImage {
	background-image: url(../img/live.png);
}

.recordedImage {
	background-image: url(../img/recorded.png);
}

.rssImage {
	background-image: url(../img/rss.png);
}