/*  Div containing the "Live" button */
.live {
	background-image: url(../img/menu_off.png);
}

/*  Div containing the "Recorded" button */
.recorded {
	background-image: url(../img/menu_on.png);
}

/* Clickable zone, link to the "Live" page */
.liveZone {
	color: #FFFFFF;
}

/* Clickable zone, link to the "Recorded" page */
.recordedZone {
	color: #FF9602;
}

/* Div which prints the courses list with the pagination links */
.course {
	margin-top: 20px;
}

/* Div containing the pagination links */
.pagination {
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	margin-top: 5px;
}


.currentnumpage {
	color:#ff9602;
	border-style:solid;
	border-width:3px;
	border-color:#606060;
}

.numpage {
	border-style:solid;
	border-width:3px;
	border-color:#606060;
}

.numpage:hover {
	border-color:white;
	color:#606060;
	background-color:white;
}

.pagination a {
	color: #FFFFFF;
	font-size: 12px;
}


.pTag {
	background-image: url(../img/T_Middle_or.png);
	color:white;
	font-weight:bold;
}

.closeDualTag {
	background-image: url(../img/T_Border_round_or.png);
	background-repeat:no-repeat;
}

.closeTag {	
	background-image: url(../img/T_Border_round_R_or.png);
	background-repeat:no-repeat;
}

.displayTags {
	margin-left:3%;
	text-align:left;
	font-size: 12px;
	margin-bottom:5px;
}

.imgTag {
	vertical-align:middle;
	margin-bottom:1.5px; /* for compatibility IE - Firefox */
}

