/*  Div containing the "Live" button */
.live {
	background-image: url(../img/menu_off.png);
}

/*  Div containing the "Recorded" button */
.recorded {
	background-image: url(../img/menu_off.png);
}

/* Clickable zone, link to the "Live" page */
.liveZone {
	color: #FFFFFF;
}

/* Clickable zone, link to the "Recorded" page */
.recordedZone {
	color: #FFFFFF;
}

.aboUnivr {
	
	text-align:center;
}

/* Div containing a line of 2 rss div with equal height */
.line {
	width: 870px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	margin-bottom: 10px;
}

/* Div of the rss block */
.rss {
	float: left;
	width: 410px;
	background-color: #FFFFFF;
	margin: 5px;
	text-align: center;	
	padding: 5px;
	/*margin-bottom: -2000px;
	padding-bottom: 2005px;*/
	
	margin-bottom: -6000px;
	padding-bottom: 6005px;
}

/* Name of the rss block */
.rssName {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #FF9602;
}

/* "rss" div table */
table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

th {
	width: 85%;
	font-size: 12px;
}

td {
	color: #000000;
	font-size: 11px;
}

td img {
	vertical-align: middle;
}

th, td {
	padding-left: 15px;
}

/* Classes to alternate the color of the rows in the table of "rss" div */
.row1 {
	background-color: #C4C4C4;
}

.row2 {
	background-color: #FFFFFF;
}

