@import "logozone_ie6.css";

/* Clickable zone to go back to the banner page */
.bannerPageZone {
	background-image: url(../img/audiovideocours-logo.gif);
}

*/
.banner {
	background: url(../img/banner_or.gif) 50% 50%;
  	background-repeat: no-repeat;
}