/*  Div containing the "Live" button */
.live {
	background-image: url(../img/menu_off.png);
}

/*  Div containing the "Recorded" button */
.recorded {
	background-image: url(../img/menu_off.png);
}

/* Clickable zone, link to the "Live" page */
.liveZone, .recordedZone {
	color: #FFFFFF;
}

table {
	margin-left: auto;
	margin-right: auto;
	color: #000000;
}

th, td {
	padding-top: 4px;
	padding-bottom: 4px;
}

td {
	padding: 5px;
	border-width: 0px;
}

table tr td {
	padding: 3px;
}

th a {
	color: #FFFFFF;
}

/* A field of the html form */
.field {
	width: 300px;
}

/* Classes to alternate the color of the rows of the courses table */
.odd {
	background-color: #FFD557;
}

.even {
	background-color: #E3DABA;
}


img#process { 
	visibility: hidden;
}

.message {
 	text-align:left;
 }
 
.chpsObl {
	font-size:12px;
 	color:white;
 }
 
.txtDisabled {
 	background-color:#d3d3d3;
 	width: 300px;
}
 
.error {
 	color: #ff5050;
 }
 
 /* Links for publication page */
 .pubLinks {
	width: 560px;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
 	text-align:center;
 }
 
 .divPubCas {
	float:left;
	background-image: url(../img/btn_pub.png);
	background-repeat:no-repeat;
	width: 130px;
	height: 35px;	
}


.divPubFree {
	float:left;
	background-image: url(../img/btn_pub.png);
	background-repeat:no-repeat;
	width: 130px;
	height: 35px;
}

.divPubTest {
	float:left;
	background-image: url(../img/btn_pub.png);
	background-repeat:no-repeat;
	width: 130px;
	height: 35px;
}

.divPubLocal {
	float:left;
	background-image: url(../img/btn_pub.png);
	background-repeat:no-repeat;
	width: 130px;
	height: 35px;
}

.linkPubCas {
	float:left;
	width: 120px;
	height: 28px;
	margin-top:10px;
	margin-left:6px;
	color:white;			
}

.linkPubFree {
	float:left;
	width: 120px;
	height: 28px;
	margin-top:10px;
	margin-left:6px;
	color:white;		
}

.linkPubTest {
	float:left;
	width: 120px;
	height: 28px;
	margin-top:10px;
	margin-left:6px;
	color:white;		
}

.linkPubLocal {
	float:left;
	width: 120px;
	height: 28px;
	margin-top:10px;
	margin-left:6px;
	color:white;		
}

.boldStar {
	color:red;
}

#dropzonePreview {
	width:283px; 
    height:109px; 
    background-image: url("../../../img/drag_and_drop.png");
    background-repeat: no-repeat;
}

