/**** CSS modifications for Internet Explorer (all versions) ****/

/*** Visualisation page ***/
.main {
	height: 100%; /* IE understands "height" like "min-height" */
	text-align: left; /* Enables to center "main" with IE */
	width:expression(document.body.clientWidth <= 980? "980px": "100%"); /* min-widht with IE */
}

.contents {
	position:relative;
	overflow: hidden;
	background-color:#606060;
}


/* One thumb corresponding to a timecode */
.thumb {
	width: 115px;
	height: 77px;
	margin-right: -60px; /* unables to superpose the hidden thumbs */
}

/*.flashslide {
	height: 100%;
	width:100%;	
}*/

#currentDia {
	height: 100%;
	width:100%;	
	text-align: left;
}

/* bug with loose doctype (for colorbox) */
.footer {
	text-align:center;
    position:relative;
    background-color:#606060;
}


