/* Main div */
.main {
	position: relative;
	width:100%;
	min-width: 980px;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color:#606060;
}

/* Page content div */
.contents {
	width: 100%;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 100px;
	overflow: hidden;
}

/* First line containing the amphiteatre name and close button */
.firstline {
	position: relative;
	height: 30px;
}

/* The amphiteatre name*/
.amphitheatre {
	float: left;
	padding: 4px;
	font-size: 12px;
}

/* link to quit the visualization interface */
.closeButton {
	float: right;
	color: #FFFFFF;
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 12px;
	text-align: right;
}

.closeButton img {
	vertical-align: middle;
}

/* Div containing the flash video and the current slide */
/*.flashslide {
	position: relative;
	width: 100%;
	background-image: url("../../../img/bg_flash.png");
}*/

.visumain {
	overflow: hidden;
	width:100%;
	background-image: url("../../../img/bg_flash.png");
}

.visuleft {
	float:left;
	text-align:left;
}

.visuright {
	overflow:hidden;
}


/*td#cellule_flash {
	vertical-align: top;
	width: 320px;
}*/

.flash {
	
	margin-left: 15px;
}

.highquality {
	margin-top:-15px;
	margin-left: 205px;
	font-size: 12px;
	border-color: #ff9602;
	border-style: solid;
	border-width: 1px;
	width: 260px;
	text-align: center;
}

.highquality2 {
	margin-top:-15px;
	margin-left: 15px;
	font-size: 12px;
	border-color: #ff9602;
	border-style: solid;
	border-width: 1px;
}

/* Displays information about the course */
.info {
	margin-left: 15px;
	font-size: 12px;
}

p#textHqPlayer {
	font-size: 18px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;	
}

p#hqPlayer {
	margin-left:auto;
	margin-right:auto;
	text-align:center;	
}

.telecharger {
	margin-left:15px;
}

b#type {
	font-size: 12px;
}

.permalien {
	margin-left:15px;
	font-size: 11px;
	white-space:nowrap;
}

.permalien input{
	width:230px;
	font-size: 11px;
}

/* Displays the current slide in a big size */
td#cellule_dia {
	vertical-align: top;
	horizontal-align: center;
}

#currentDia {
	position:relative;
	left: 10px;
}

#frontslide {
	position:absolute;	
}

/* Line containing the timecodes points */
div#videoLine {
	position: absolute;
	width: 970px;
	height: 11px;
	margin-bottom: 40px;
	text-align: center;
	left: 50%;
	margin-left: -485px;	
}


/* The thumb corresponding to the media's current play position */
.currentThumb {
	border-color: #FF9602;
}

/* One thumb corresponding to a timecode */
.otherThumb {
	border-color: #FFFFFF;
}

.otherThumb, .currentThumb {
	float: left;
	width: 52px;
	height: 39px;
	margin-left: 35px;
	border-width: 2px;
	border-style: solid;
}

/* Zooms on a thumb when the mouse is over it */
a:hover .otherThumb, a:hover .currentThumb {
	width: 104px;
	height: 78px;
}

/* Left part of the pagination */
.leftPagination {
	float: left;
}

/* right part of the pagination */
.rightPagination {
	float: right;
}


.leftPagination, .rightPagination {
	color: #FFFFFF;
	font-size: 12px;
	margin : 4px;
	margin-top: 50px;
}

.rightPagination a {
	background-image: url("../img/next.png");
	background-repeat:no-repeat;
}

.leftPagination a {
	background-image: url("../img/previous.png");
	background-repeat:no-repeat;
}

/* Div with its content hidden */
.hidden {
	display: none;
}

.tdalign {
	vertical-align:top;
}

/*
Dia fullscreen functionnality 
*/

#currentDia:hover {
	cursor: pointer;
}

#cboxContent #currentDia {
	left:0;
}

#cboxContent #frontslide {
	width: 100%; /* for firefox */
}

#cboxContent #frontslide img {	
	height: auto;
	width: auto;
	max-width: 100%;
	/*min-height: 100%;*/
}

#cboxContent #backslide img {
	height: auto;
	width: auto;
	max-width: 100%;
	/*min-height: 100%;*/
}