/*  Div containing the "Live" button */
.live {
	background-image: url(../img/menu_off.png);
}

/*  Div containing the "Recorded" button */
.recorded {
	background-image: url(../img/menu_off.png);
}

/* Clickable zone, link to the "Live" page */
.liveZone, .recordedZone {
	color: #FFFFFF;
}

.message {
	width: 700px;
	margin-left: 120px;
	margin-right: 120px;
	text-align: center;
	margin-top: 100px;
}

.information, .error {
	font-size: 18px;
}

.error {
	color: red;
}