/*  Div containing the "Live" button */
.live {
	background-image: url(../img/menu_off.gif);
}

/*  Div containing the "Recorded" button */
.recorded {
	background-image: url(../img/menu_on.gif);
}

/* Div containing the search image */
.searchImage {
	background-image: url(../img/search.gif);
}