/*  Div containing the "Live" button */
.live {
	background-image: url(../img/menu_off.png);
}

/*  Div containing the "Recorded" button */
.recorded {
	background-image: url(../img/menu_off.png);
}

/* Clickable zone, link to the "Live" page */
.liveZone, .recordedZone {
	color: #FFFFFF;
}

.links {
	margin-top:20px;
	text-align: center;
	margin-bottom: 20px;
}

.displaytag {
	width: 95%;
	margin:auto;
	border-spacing: 1px;
	color: #000000;
	font-size: 10px;
}

table {
	color: #000000;
}

th, td {
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: normal;
}

td {
	border-width: 0px;
}

table tr td {
	padding: 3px;
}

th a {
	color: #FFFFFF;
}

/* Classes to alternate the color of the rows of the courses table */
.odd {
	background-color: #77BBFF;
}

.even {
	background-color: #AADDFF;
}

.editform {
	width: 425px;
	margin-left: auto;
	margin-right: auto;
	text-align:left;
}

/* A field of the html form */
.field {
	width: 300px;
}

p#nbr {
	text-align:center;

}

.add {
	text-align:center;
}

.diskspace {
	text-align:center;
}

.infos {
	text-align:center;
}
pre#pre {
	margin-left:25%;
	margin-right:25%;
	text-align:left;
}

.littleField {
	width: 20px;
}

/* additional doc for edit course */ 
img#process,img#subprocess  { 
	visibility: hidden;
}

.fieldAdddoc, .fieldSubtitles {
	width: 300px;
	background-color:#d3d3d3;
}

.editcourse, .adddoc, .thsubtitles {
	color:#FFFFFF;
	font-weight:bold;
}

.captex {
	color:#AADDFF;
	TEXT-DECORATION:underline;
}

.boldStar {
	color:red;
}

/* Div containing the pagination links */
.pagination {
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	margin-top: 5px;
}

.currentnumpage {
	color:#ff9602;
	border-style:solid;
	border-width:3px;
	border-color:#606060;
}

.numpage {
	border-style:solid;
	border-width:3px;
	border-color:#606060;
}

.numpage:hover {
	border-color:white;
	color:#606060;
	background-color:white;
}

.pagination a {
	color: #FFFFFF;
	font-size: 12px;
}

.pTag {
	background-image: url(../img/T_Middle_bl.png);
	color:white;
	font-weight:bold;
}

.chpsObl {
	font-size:12px;
 	color:white;
 }