/* Html page */
html {
	height: 100%;
	margin: 0;
	background-color:black; /* #959595 */
}

/* Page body */
body {
	font-family: helvetica, arial;
	color: #FFFFFF;
	height: 100%;
	margin: 0;	
	/*
	background-image: url("../img/gradient2.png");
	background-position: center;
	background-repeat: repeat-y;	*/
}

/* Main div */
.main {
	position: relative;
	width:90%;
	min-width: 980px;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color:#606060;
}

/* Div containing the website's banner */
.banner {
	width: 980px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	background: url(../img/banner_blu.png) 50% 50%;
  	background-repeat: no-repeat;
}

/* Clickable zone to go back to the banner page */
.bannerPageZone {
	position: absolute;
	width : 202px;
	height: 86px;
	margin-left: 45px;
	margin-top: 12px;
	background-image: url(../img/univr-av-logo.png);
}

/* Clickable zone, link to the ULPMM website */
.ulpmmZone {
	position: absolute;
	width : 100px;
	height: 34px;
	margin-left:155px;
	margin-top: 146px;
	background-image: url(../img/ulpmm-logo.png);
}

/* Clickable zone, link to the ULP website */
.ulpZone {
	position: absolute;
	width : 52px;
	height: 34px;
	margin-left:255px;
	margin-top: 146px;
	background-image: url(../img/ulp-logo.png);
}

/* Div containing the "Styles" link */
.styles {
	position: absolute;
	font-size: 12px;
	margin-left:890px;
	margin-top: 80px;
}

/* Div containing the "Languages" link */
.languages {
	position: absolute;
	font-size: 12px;
	margin-left:890px;
	margin-top: 105px;
}

/* Div containing the "Help" link */
.help {
	position: absolute;
	font-size: 12px;
	margin-left:890px;
	margin-top: 130px;
}

/* Div containing the "Downloads" link */
.download {
	position: absolute;
	font-size: 12px;
	margin-left:840px;
	margin-top: 155px;
}

.styles a, .languages a, .download a, .help a {
	color: white;
}

/*  Div containing the "Live" button */
.recorded {
	position: absolute;
	margin-left: 332px;
	width: 115px;
	height: 180px;
}

/* Clickable zone, link to the "Live" page */
.recordedZone {
	position: absolute;
	width : 105px;
	height: 28px;
	margin-left:5px;
	margin-top: 145px;
}

/*  Div containing the "Recorded" button */
.live {
	position: absolute;
	margin-left: 448px;
	width: 115px;
	height: 180px;
}

/* Clickable zone, link to the "Recorded" page */
.liveZone {
	position: absolute;
	width : 105px;
	height: 28px;
	margin-left:5px;
	margin-top: 145px;
}

/* Text formatting of the "Live" and "Recorded" buttons */
.liveZone, .recordedZone {
	text-align: center;
	margin-top: 152px;
	font-size: 16px;
}

/* Page content div */
.contents {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
	overflow: auto;
}

/* Page bottom div */
.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	margin-bottom: 5px;
	text-align: center;
	font-size: 11px;
}

/* To remove the borders of the pictures which are links */
a img {
	border: 0px;
}

/* Links style */
a {
	text-decoration: none;
}

/* Defines the colors of the different elements */
a, .linkText, .helpText, h5, .buildingName, .searchText {
	color: #5284FD;
}

.tableheader, .displaytag th {
	background-image: url("../img/array_title.png");
}