/**** CSS modifications for Internet Explorer (all versions) ****/

/*** Visualisation page ***/
.main {
	height: 100%; /* IE understands "height" like "min-height" */
	text-align: left; /* Enables to center "main" with IE */
	width:expression(document.body.clientWidth <= 980? "980px": "100%"); /* min-widht with IE */
}

.contents {
	position:relative;
	overflow: hidden;
}