.welcome {
	text-align:center;
}

/* Div containing the website's banner */
.btnUpload {
	width: 140px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	background: url(../img/btn_blue_upload.png) 50% 50%;
  	background-repeat: no-repeat;
  	font-size: 12px;
	text-align:center;
  	
}

.btnUpload a {
	color:white;
	font-weight: bold;
}