/**** CSS modifications for Internet Explorer (all versions) ****/

/* Page body */
body {
	text-align: center; /* Enables to center "main" with IE */
}

/* Main div */
.main {
	height: 100%; /* IE understands "height" like "min-height" */
	text-align: left; /* Enables to center "main" with IE */
	width:expression(document.body.clientWidth <= 980? "980px": "90%"); /* min-width with IE */
}

.contents {
	text-align:center;
	overflow:visible;
}

.banner {
	text-align:left;
}

.liveImage {
	text-align: left;
}

.recordedImage {
	text-align:left;
}

.rssImage {
	text-align: left;
}


.search {
	text-align:left;
	
}

.footer {
	text-align:center;
}

/*** Home and Recorded pages ***/
/* Div of the search part of the page */
.search {
	overflow: visible;
	text-align:left;
}

/*** Live page ***/
/* Div containing a line of 3 "building" div with equal height */
.line {
	width: 850px;
	margin-left: 45px;
	margin-right: 45px;
}

/** admin page **/
.links {
	width:940px;
	text-align: center;
	margin-bottom: 20px;
}


/*** Help page ***/
.helpImage {
	text-align: left;
}

li {
	text-align: left;
}

.columns {
	text-align: left;
}