/*  Div containing the "Live" button */
.live {
	background-image: url(../img/menu_on.png);
}

/*  Div containing the "Recorded" button */
.recorded {
	background-image: url(../img/menu_off.png);
}

/* Clickable zone, link to the "Live" page */
.liveZone {
	color: #FF9602;
}

/* Clickable zone, link to the "Recorded" page */
.recordedZone {
	color: #ffffff;
} 

/* Div containing a line of 3 "building" div with equal height */
.line {
	width: 870px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	margin-bottom: 10px;
}

/* Div of the building block */
.building {
	float: left;
	width: 270px;
	background-color: #FFFFFF;
	margin: 5px;
	text-align: center;	
	padding: 5px;
	margin-bottom: -2000px;
	padding-bottom: 2005px;
}

/* Name of the building */
.buildingName {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* "building" div table */
table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

th {
	width: 50%;
	font-size: 12px;
}

td {
	color: #000000;
	font-size: 11px;
}

td img {
	vertical-align: middle;
}

th, td {
	padding-left: 15px;
}

/* Classes to alternate the color of the rows in the table of "building" div */
.row1 {
	background-color: #C4C4C4;
}

.row2 {
	background-color: #FFFFFF;
}