/* Page content div */
.contents {
	width: 970px;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 100px;
	overflow: hidden;
}

/* The amphiteatre name*/
.amphitheatre {
	float: left;
	padding: 4px;
	font-size: 12px;
}

/* link to quit the visualization interface */
.closeButton {
	float: right;
	color: #FFFFFF;
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 12px;
}

.closeButton img {
	vertical-align: middle;
}

/* Line containing the timecodes points */
div#videoLine {
	width: 970px;
	height: 11px;
	background-image: url("../../../img/1px_video_line.png");
	background-repeat: repeat-x;
}


/* Div containing all the thumbs of the media */
div#thumbLine {
	position: absolute;
	width: 970px;
	margin-top: 10px;
}

/* One thumb corresponding to a timecode */
.thumb {
	float: left;
	visibility: hidden;
	width: 115px;
	height: 77px;
	margin-right: -54px; /* unables to superpose the hidden thumbs */
}

/* one timecode point */
.videoTime {
	float: left;
	margin-left: 50px;
}

/* Div of the pagination line */
div#pagination {
	position: absolute;
	width: 970px;
}

/* Left part of the pagination */
.leftPagination {
	float: left;
}

/* right part of the pagination */
.rightPagination {
	float: right;
}

.rightPagination a {
	color: #FFFFFF;
}

.leftPagination, .rightPagination {
	color: #FFFFFF;
	font-size: 12px;
	margin : 4px;
}