/*  Div containing the "Live" button */
.live {
	background-image: url(../img/menu_off.gif);
}

/*  Div containing the "Recorded" button */
.recorded {
	background-image: url(../img/menu_off.gif);
}

/* Div containing the images div */
.downloadImage, .rssImage, .helpImage {
	margin-left: 45px;
}

/* Div containing the images div */
.searchImage {
	background-image: url(../img/search.gif);
}

.downloadImage {
	background-image: url(../img/downloads.gif);
}

.rssImage {
	background-image: url(../img/rss.gif);
}

.helpImage {
	background-image: url(../img/help.gif);
}