/* Main div */
.main {
	position: relative;
	width:100%;
	min-width: 980px;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color:#606060;
}

/* Page content div */
.contents {
	width: 100%;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 100px;
	overflow: hidden;
	text-align:center;
}

/* First line containing the amphiteatre name and close button */
.firstline {
	position: relative;
	height: 30px;
}

/* The amphiteatre name*/
.amphitheatre {
	float: left;
	padding: 4px;
	font-size: 12px;
}

/* link to quit the visualization interface */
.closeButton {
	float: right;
	color: #FFFFFF;
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 12px;
}

.closeButton img {
	vertical-align: middle;
}

iframe#DiaFrame {
	width:981; /*966*/
	height:739;
}

p#flash {
	/*text-align:center;*/
}