/*  Div containing the "Live" button */
.live {
	background-image: url(../img/menu_off.png);
}

/*  Div containing the "Recorded" button */
.recorded {
	background-image: url(../img/menu_off.png);
}

/* Clickable zone, link to the "Live" page */
.liveZone {
	color: #FFFFFF;
}

/* Clickable zone, link to the "Recorded" page */
.recordedZone {
	color: #FFFFFF;
}

table {
	color: #959595;
}

th, td {
	padding-top: 4px;
	padding-bottom: 4px;
}

td {
	border-width: 0px;
}

table tr td {
	padding: 3px;
}

th a {
	color: #FFFFFF;
}

/* Classes to alternate the color of the rows of the courses table */
.odd {
	background-color: #404040;
}

.even {
	background-color: #000000;
}

.contactform {
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	text-align:left;
}

/* A field of the html form */
.field {
	width: 300px;
}

.textarea {
	width: 300px;
	height:150px;
	
}

.formTitle {
	color:#FFFFFF;
	font-weight:bold;
}