/* Courses list table */
table {
	width: 94%;
	text-align: left;
	border-spacing: 0px;
	color: #FFFFFF;
	margin:auto;
}

.tableHome {
	width: 100%; /*32*/
	text-align: left;
	color: #FFFFFF;	
}


th, td {
	padding-top: 4px;
	padding-bottom: 4px;
}

th {
	padding-left: 15px;
	font-size: 12px;
}

th#courses {
	color: #FFFFFF;
	font-size: 14px;
}

td {
	padding-left: 5px;
	font-size: 11px;
	border-width: 0px;
}

/* Classes to alternate the color of the rows of the courses table */
.row1 {
	background-color: #000000;
}

.row2 {
	background-color: #404040;
}

/* Aligned cells in the table */
.tdalign {
	text-align: center;
	width: 55px;
}

/* Div with its content hidden */
.hidden {
	display: none;
}

a#lienCol {
	color:white;
}

tr:hover,tr.hover { 
	background: #808080;
 }
  
.titleColl {
	font-size: 11px;
}