/*  Div containing the "Live" button */
.live {
	background-image: url(../img/menu_off.gif);
}

/*  Div containing the "Recorded" button */
.recorded {
	background-image: url(../img/menu_off.gif);
}

 .divPubCas {
	background-image: url(../img/btn_pub.gif);
}


.divPubFree {
	background-image: url(../img/btn_pub.gif);
}