/* Line containing the timecodes points */
div#videoLine {
	/*background-image: url("../img/1px_video_line.gif");*/
}

.leftPagination a {
	background-image: url("../img/previous.gif");
	background-repeat:no-repeat;
}

.rightPagination a {
	/*color: #FFFFFF;*/
	background-image: url("../img/next.gif");
	background-repeat:no-repeat;
}