/*  Div containing the "Live" button */
.live {
	background-image: url(../img/menu_off.png);
}

/*  Div containing the "Recorded" button */
.recorded {
	background-image: url(../img/menu_off.png);
}

/* Clickable zone, link to the "Live" page */
.liveZone {
	color: #FFFFFF;
}

/* Clickable zone, link to the "Recorded" page */
.recordedZone {
	color: #FFFFFF;
}

#codeForm {
	width: 270px;
	margin-left: 335px;
	margin-right: 335px;
	margin-top: 100px;
}